.create-account {
  width: 320px;

  padding: 48px 32px;
  margin-top: 59px;
  gap: 21px;

  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: #262626;
  font-family: 'Roboto';
}

.create-account__title {
  margin: 0;
  height: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-style: normal;

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
}

.create-account__input {
  width: 296px;
  height: 22px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.create-account__input:focus,
.create-account__input-error:focus {
  outline: none;
}

.create-account__input-error {
  width: 296px;
  height: 22px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid #f5222d;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.create-account__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #bfbfbf;
}

.create-account__input-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.create-account__devider {
  width: inherit;
  height: 0px;
  border-top: 1px solid #e8e8e8;
  margin-bottom: -13px;
}

.create-account__check-container {
  display: flex;
  align-items: flex-start;
}

.create-account__input-check {
  width: 16px;
  height: 16px;
  visibility: hidden;
}

.create-account__input-check::before {
  visibility: visible;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #1890ff;
  border-radius: 2px;
}

.create-account__input-check:checked::before {
  visibility: visible;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url('../../assets/images/Checkbox.svg') no-repeat center;
  cursor: pointer;
}

.create-account__check-label {
  margin-left: 8px;
  width: 254px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;

  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}

.create-account__button-container {
  width: inherit;
}

.create-account__button-create {
  border: none;
  background-color: #1890ff;
  color: #ffffff;
  border-radius: 4px;
  width: inherit;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.create-account__button-create:hover {
  background-color: #1162ad;
}

.create-account__already {
  margin: 8px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #8c8c8c;
}

.create-account__signin {
  color: #1890ff;
  text-decoration: none;
}

.create-account__error {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #f5222d;
}
