@import '../../index.scss';

.create-article {
  width: 874px;

  padding: 48px 32px;
  margin-top: 59px;
  gap: 21px;

  background-color: $white;
  border: 1px solid $whiteBorder;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: $blackLetters;
  font-family: 'Roboto';
}

.create-article__title {
  margin: 0;
  height: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-style: normal;

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
}

.create-article__input {
  width: 850px;
  height: 22px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid $whiteBorder;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.create-article__input-error {
  width: 850px;
  height: 22px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid $red;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.create-article__textarea {
  width: 850px;
  height: 152px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid $whiteBorder;
  border-radius: 4px;
  resize: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
}

.create-article__input:focus,
.create-article__input-error:focus,
.create-article__textarea:focus,
.create-article__input-textarea-error:focus,
.create-article__input-tag:focus {
  outline: none;
}

.create-article__input-textarea-error {
  width: 850px;
  height: 152px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid $red;
  border-radius: 4px;
  resize: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
}

.create-article__textarea::placeholder,
.create-article__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: $whiteLetters;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.create-article__input-tag::placeholder {
  color: $whiteLetters;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.create-article__input-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.create-article__input-tag {
  width: 276px;
  height: 22px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid $whiteBorder;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.create-article__button-delete {
  margin-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $red;
  border: 1px solid $red;
  border-radius: 4px;
  background-color: inherit;
  width: 118px;
  height: 40px;
  cursor: pointer;
}

.create-article__button-add {
  margin-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 4px;
  background-color: inherit;
  width: 118px;
  height: 40px;
  cursor: pointer;
}

.create-article__button-add:hover,
.create-article__button-delete:hover {
  opacity: 0.6;
}

.create-article__tags {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.create-article__button-send {
  width: 319px;
  height: 40px;
  margin-top: 21px;
  background: $blue;
  border-radius: 4px;
  border: none;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.create-article__button-send:hover {
  background-color: $darkBlue;
}

.input_height {
  height: 168px;
}

.create-article__error {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $red;
}
