@import '../../index.scss';

.article__container {
  width: 926px;
  //height: 121px;
  margin-top: 26px;
  background-color: $white;

  display: flex;
  justify-content: space-between;

  padding: 15px 19px;

  border: 1px solid $whiteBorder;
  border-radius: 5px;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
}

.article__title-container {
  display: flex;
  align-items: center;
}

.article__title {
  max-height: 56px;
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
  color: $blue;

  max-width: 600px;
}

.article__title-all {
  max-width: 600px;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
  color: $blue;
}

.article__title-link {
  text-decoration: none;
}

.article__likes {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 16p;
  height: 16px;
  font-size: 12px;
  line-height: 22px;
  color: $black075;
  position: relative;
}

.article__likes::before {
  visibility: visible;
  content: '';
  position: absolute;
  display: block;
  top: -2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url('../../assets/images/Like.svg') no-repeat center;
}

.article__likes-checked {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 16p;
  height: 16px;
  font-size: 12px;
  line-height: 22px;
  color: $black075;
  position: relative;
}

.article__likes-checked::before {
  visibility: visible;
  content: '';
  position: absolute;
  display: block;
  top: -2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url('../../assets/images/Like_checked.svg') no-repeat center;
}

.article__likes-label {
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-size: 12px;
  line-height: 22px;
}

.article__like-count {
  margin-left: 20px;
  margin-bottom: 1px;
}

.article__tags {
  display: flex;
  gap: 8px;
  max-width: 682px;

  max-height: 48px;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 6px;
}

.article__tags-all {
  display: flex;
  gap: 8px;
  max-width: 682px;

  max-height: max-content;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 6px;
}

.article__tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
  //overflow-wrap: break-word;
  // padding-left: 6px;
  // padding-right: 6px;

  font-size: 12px;
  color: $black05;
  border: 1px solid $black05;
  border-radius: 2px;

  max-width: 682px;
  height: 18px;
  line-height: 15px;
}

.article__tag-name {
  margin-right: 6px;
  margin-left: 6px;
  max-width: 300px;
  overflow: hidden;
}

.article__description {
  max-height: 66px;
  font-size: 12px;
  line-height: 22px;
  color: $black075;
  overflow: hidden;
  overflow-wrap: break-word;
  margin-top: 7px;
}

.article__description-all {
  font-size: 12px;
  line-height: 22px;
  color: $black075;
  max-width: 682px;
  overflow-wrap: break-word;
}

.article__body {
  font-size: 20px;
  line-height: 28px;
  color: $black075;
  width: 880px;
  max-width: 880px;
  overflow-wrap: break-word;
}

.article_width {
  width: 682px;
}

.article__author-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.article__date {
  font-size: 12px;
  line-height: 22px;
  color: $black05;
  margin-top: -5px;
}

.article__author-image {
  width: 46px;
  height: 46px;
  margin-left: 12px;
  border-radius: 50%;
}

.article__author-and-image {
  display: flex;
  justify-content: flex-end;
}

.article__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.article__button-delete {
  color: $red;
  border: 1px solid $red;
  border-radius: 5px;
  background-color: inherit;

  width: 76px;
  height: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}

.article__button-delete-label {
  position: absolute;
  display: none;
  width: 208px;
  height: 80px;
  background-color: $white;
}

.article__button-delete-label_show {
  display: flex;
}

.article__button-edit {
  border: 1px solid $green;
  border-radius: 5px;
  background-color: inherit;

  width: 63px;
  height: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 12px;
  cursor: pointer;
}

.article__button-edit,
.article__button-edit:active,
.article__button-edit:visited {
  text-decoration: none;
  color: $green;
}

.article__button-edit:hover,
.article__button-delete:hover {
  opacity: 0.6;
}
