@import '../../index.scss';

.edit-profile {
  width: 320px;

  padding: 48px 32px;
  margin-top: 59px;
  gap: 21px;

  background-color: $white;
  border: 1px solid $whiteBorder;
  box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: $blackLetters;
  font-family: 'Roboto';
}

.edit-profile__title {
  margin: 0;
  height: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-style: normal;

  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
}

.edit-profile__input {
  width: 296px;
  height: 22px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid $whiteBorder;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.edit-profile__input:focus,
.edit-profile__input-error:focus {
  outline: none;
}

.edit-profile__input-error {
  width: 296px;
  height: 22px;
  padding: 8px 12px;
  margin-top: 2px;
  border: 1px solid $red;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.edit-profile__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: $whiteLetters;
}

.edit-profile__input-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.edit-profile__button-save {
  border: none;
  background-color: $blue;
  color: $white;
  border-radius: 4px;
  width: inherit;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.edit-profile__button-save:hover {
  background-color: $darkBlue;
}

.edit-profile__error {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $red;
}
