@font-face {
  font-family: 'Inter';
  src: url('./assets/font/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/font/Roboto-Regular.ttf') format('truetype');
}

$white: #ffffff;
$whiteBorder: #d9d9d9;
$whiteLetters: #bfbfbf;
$whiteDevider: #e8e8e8;
$blue: #1890ff;
$darkBlue: #1162ad;
$lightGrey: #8c8c8c;
$grey: #595959;
$blackLetters: #262626;
$black075: rgba(0, 0, 0, 0.75);
$black05: rgba(0, 0, 0, 0.5);
$black085: rgba(0, 0, 0, 0.85);
$red: #f5222d;
$green: #52c41a;

body {
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  background-color: #ebeef3;
}
