.article__body {
  font-size: 20px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.75);
}

.article__title {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
  color: #1890ff;
}

.article__description {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}
